node_modules/
vendor/
public/assets
public/Certificate
public/d
public/frontend
public/images
public/js
public/media
public/profile
public/schools
public/storage
public/super
public/tests
public/up
public/vendor
public/uplaods
public/uploads
public/SchoolLogo
public_old/
public/collect-fees/
docker/
.env
.vscode
